@font-face {
    font-family: 'NotoSans', sans-serif;
    src: url(./font/NotoSans-VariableFont_wdth\,wght.ttf);
}

* {
    font-family: NotoSans, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
    height: 200vh;
    background: url(./img/bg.jpg);
    background-repeat: no-repeat;
}

nav {
    height: 10%;
    width: 100%;
    background: black;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 25px;
    position: fixed;
    transition: transform 0.3s ease-in-out;
}

h1 {
    color: rgb(241, 241, 66);
    display: flex;
    align-items: center;
}

.container-span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    color: rgb(241, 241, 66);
}